.frameChild,
.frameItem {
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.frameChild {
  height: 188px;
  width: 1078px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
}
.frameItem {
  height: 148px;
  width: 1038px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  z-index: 0;
}
.frameInner,
.rectangleDiv {
  height: 50px;
  box-sizing: border-box;
}
.frameInner {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-6xs) var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  z-index: 1;
}
.rectangleDiv {
  width: 111px;
  position: relative;
  border-radius: var(--br-6xs) 0 0 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  display: none;
}
.select {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.rectangleContainer {
  border-radius: var(--br-6xs) 0 0 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-smi);
  z-index: 1;
}
.frameChild1 {
  height: 50px;
  width: 111px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.div {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.costContainer,
.groupDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupDiv {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-32xl) var(--padding-smi)
    var(--padding-33xl);
  z-index: 3;
  margin-top: -1px;
  color: var(--color-black);
}
.costContainer {
  flex-direction: column;
}
.frameChild2 {
  height: 50px;
  width: 108px;
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.brand {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.frameChild3 {
  height: 50px;
  width: 108px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.lenovo {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.rectangleParent2 {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -49px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-7xl) var(--padding-smi);
  height: 100%;
  z-index: 5;
  color: var(--color-black);
}
.frameChild4,
.rectangleParent1 {
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
}
.rectangleParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-smi);
  z-index: 3;
}
.frameChild4 {
  height: 50px;
  width: 156px;
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.unitCost {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.frameChild5 {
  height: 50px;
  width: 156px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.div1 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
  z-index: 1;
}
.rectangleParent4 {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -49px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-25xl) var(--padding-smi);
  height: 100%;
  z-index: 6;
  color: var(--color-black);
}
.rectangleParent3 {
  flex: 1;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  padding: var(--padding-sm) var(--padding-22xl) var(--padding-smi);
  position: relative;
  z-index: 4;
  margin-left: -1px;
}
.priceContainer,
.rectangleParent3,
.secondRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceContainer {
  flex: 1;
  min-width: 171px;
}
.secondRow {
  width: 489px;
  gap: var(--gap-96xl);
  max-width: 100%;
}
.frameChild6 {
  height: 50px;
  width: 224px;
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.smartSellerPrice {
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.frameChild7 {
  height: 50px;
  width: 224px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.pricePlaceholder {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 73px;
  white-space: nowrap;
  z-index: 1;
}
.rectangleParent6 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -49px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-51xl) var(--padding-smi);
  height: 100%;
  z-index: 8;
  color: var(--color-black);
}
.frameChild8,
.rectangleParent5 {
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
}
.rectangleParent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-22xl) var(--padding-smi);
  z-index: 6;
}
.frameChild8 {
  height: 50px;
  width: 109px;
  border-radius: 0 var(--br-6xs) 0 0;
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.action {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 52px;
  z-index: 1;
}
.groupIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -49px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  z-index: 9;
}
.frameParent,
.rectangleParent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent7 {
  border-radius: 0 var(--br-6xs) 0 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  padding: var(--padding-smi) var(--padding-9xl) var(--padding-sm);
  position: relative;
  z-index: 7;
  margin-left: -1px;
}
.frameParent {
  row-gap: 20px;
  max-width: 100%;
}
.frameChild9 {
  height: 50px;
  width: 117px;
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
}
.sku {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.rectangleParent8 {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  top: -49px;
  right: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-22xl) var(--padding-smi);
  height: 100%;
  z-index: 2;
}
.frameChild10 {
  height: 50px;
  width: 117px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.div2 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 28px;
  z-index: 1;
}
.dropdownLabels,
.rectangleParent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent9 {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-sm) var(--padding-25xl) var(--padding-smi)
    var(--padding-26xl);
  z-index: 4;
  color: var(--color-black);
}
.dropdownLabels {
  margin: 0 !important;
  position: absolute;
  top: 49px;
  left: 110px;
}
.frameChild11 {
  height: 50px;
  width: 219px;
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
}
.maxAvailableStock {
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.rectangleParent10 {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  top: -49px;
  right: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-smi);
  white-space: nowrap;
  height: 100%;
  z-index: 5;
}
.frameChild12 {
  height: 50px;
  width: 219px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.div3 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 31px;
  z-index: 1;
}
.rectangleParent11 {
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  justify-content: center;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-smi);
  z-index: 7;
  color: var(--color-black);
}
.firstRowNames,
.rectangleGroup,
.rectangleParent,
.rectangleParent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.firstRowNames {
  width: 219px;
  margin: 0 !important;
  position: absolute;
  top: 49px;
  left: 488px;
  justify-content: flex-start;
}
.rectangleGroup,
.rectangleParent {
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleGroup {
  flex: 1;
  border: 1px solid var(--color-gray-300);
  justify-content: space-between;
  padding: 0 0 var(--padding-28xl);
  position: relative;
  gap: var(--gap-xl);
  z-index: 1;
}
.rectangleParent {
  width: 1078px;
  margin: 0 !important;
  position: absolute;
  top: 204px;
  right: -124px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  padding: var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1325px) {
  .rectangleGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .secondRow {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent7 {
    margin-left: 0;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
