.menuBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.main {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 38px;
  flex-shrink: 0;
}
.dashboardBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslateblue);
}
.dashboardIcon {
  height: 22px;
  width: 20px;
  position: relative;
  min-height: 22px;
}
.dashboard {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.dashboardBackgroundParent,
.dashboardIconParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboardIconParent {
  gap: var(--gap-mini);
  z-index: 1;
}
.dashboardBackgroundParent {
  align-self: stretch;
  padding: var(--padding-7xs-5) var(--padding-3xs);
  position: relative;
  flex-shrink: 0;
}
.integrationIcon {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
}
.integrationIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-6) 0 0;
}
.salesDashboard {
  position: relative;
  font-weight: 500;
}
.frameWrapper,
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupDiv {
  justify-content: flex-start;
  gap: var(--gap-mini);
  flex-shrink: 0;
}
.frameWrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  color: var(--color-darkslateblue);
}
.frameContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs-1);
  flex-shrink: 0;
}
.mainParent,
.submenuDashboard {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submenuDashboard {
  flex-direction: row;
  padding: 0 0 0 var(--padding-lg);
  color: var(--color-white);
}
.mainParent {
  flex-direction: column;
  gap: var(--gap-base-5);
}
.frameChild {
  height: 21.2px;
  width: 20px;
  position: relative;
  min-height: 21px;
}
.storesIntegration {
  position: relative;
  font-weight: 500;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  flex-shrink: 0;
}
.sellerIcon {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
}
.sellerIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.sellerAccount {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 112px;
}
.analytics,
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  gap: var(--gap-mini);
}
.settingsIcon {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
}
.optionIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.vendorAccount {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
}
.optionIconsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameItem {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.defaultSettings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameDiv,
.storeIntegrationOption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameDiv {
  align-items: flex-start;
  gap: var(--gap-2xs-2);
  flex-shrink: 0;
}
.storeIntegrationOption {
  align-items: flex-end;
  gap: var(--gap-mid-3);
}
.storeIntegrationOptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
  color: var(--color-gray-500);
}
.divider,
.frameGroup {
  box-sizing: border-box;
  flex-shrink: 0;
}
.frameGroup {
  width: 218px;
  height: 256.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-135xl-5);
  gap: var(--gap-14xl);
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-gainsboro-200);
}
.frameParent,
.menuBackgroundParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameParent {
  height: 343px;
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-67xl-1);
  gap: var(--gap-67xl-1);
  z-index: 1;
}
.menuBackgroundParent {
  height: 1039px;
  width: 300px;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-13xl);
  position: relative;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 900px) {
  .menuBackgroundParent {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup,
  .frameParent {
    padding-bottom: var(--padding-81xl);
    box-sizing: border-box;
  }
  .frameParent {
    padding-bottom: var(--padding-37xl);
  }
  .menuBackgroundParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
