.frameChild {
  width: 300px;
  height: 1000px;
  position: relative;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.main {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 38px;
  flex-shrink: 0;
}
.dashboard,
.dashboardIcon,
.main {
  position: relative;
  z-index: 1;
}
.dashboardIcon {
  height: 22px;
  width: 20px;
  min-height: 22px;
}
.dashboard {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.dashboardIconParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.salesDashboardIcon {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
  z-index: 1;
}
.salesDashboardIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-6) 0 0;
}
.salesDashboard {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  gap: var(--gap-mini);
}
.frameContainer {
  padding: 0 0 0 var(--padding-7xl);
}
.frameParent {
  flex-direction: column;
  gap: var(--gap-base-6);
  flex-shrink: 0;
}
.frameParent,
.frameWrapper,
.mainParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xl);
  color: var(--color-gray-500);
}
.mainParent {
  flex-direction: column;
  gap: var(--gap-3xl);
}
.frameItem {
  height: 33px;
  width: 200px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslateblue);
  display: none;
}
.frameInner {
  height: 21.2px;
  width: 20px;
  position: relative;
  min-height: 21px;
  z-index: 1;
}
.storesIntegration {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.accountIcon,
.rectangleGroup {
  background-color: var(--color-darkslateblue);
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-4) var(--padding-3xs) var(--padding-7xs-4);
  gap: var(--gap-mini);
  white-space: nowrap;
  color: var(--color-white);
}
.accountIcon {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
}
.accountIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.sellerAccount {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.accountStructureInner,
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameDiv {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.accountStructureInner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-10xl) 0 var(--padding-17xl);
  color: var(--color-darkslateblue);
}
.ellipseDiv {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
  z-index: 1;
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.vendorAccount {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.accountStructureChild,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent1 {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.accountStructureChild {
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
}
.frameChild1 {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
  z-index: 1;
}
.ellipseContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.defaultSettings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.accountStructureInner1,
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent2 {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.accountStructureInner1 {
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
}
.accountStructure {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs-7);
}
.accountStructureWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) var(--padding-40xl-5);
  color: var(--color-gray-500);
}
.lineDiv {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-gainsboro-200);
  box-sizing: border-box;
  z-index: 1;
}
.rectangleParent {
  width: 300px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-11xl) var(--padding-615xl)
    var(--padding-13xl);
  gap: var(--gap-7xl-6);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
