.paymentIcon,
.purchaseDueIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.paymentIcon {
  margin: 0 !important;
  right: 1px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.purchaseDueIcon {
  right: 0;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
}
.paymentMethod21 {
  position: absolute;
  height: 59.7%;
  width: 59.7%;
  top: 20.15%;
  right: 20.15%;
  bottom: 20.15%;
  left: 20.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.purchaseDueIconParent {
  align-self: stretch;
  height: 134px;
  position: relative;
}
.purchaseDueValue {
  position: relative;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
}
.purchaseDueValuePlaceholderWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
}
.totalPurchaseDue {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  display: inline-block;
  min-width: 129px;
}
.paymentValue {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.paymentValueWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}
.frameParent,
.paymentIconParent {
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-mini);
}
.paymentIconParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-52xl);
  position: relative;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .purchaseDueValue {
    font-size: var(--font-size-base);
  }
  .paymentIconParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
