.frameChild {
  width: 300px;
  height: 1000px;
  position: relative;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.main {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 38px;
  flex-shrink: 0;
}
.dashboard,
.dashboardIcon,
.main {
  position: relative;
  z-index: 1;
}
.dashboardIcon {
  height: 22px;
  width: 20px;
  min-height: 22px;
}
.dashboard {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.dashboardIconParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.salesIcon {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 1;
}
.salesIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-6) 0 0;
}
.salesDashboard {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  gap: var(--gap-mini);
}
.frameContainer {
  padding: 0 0 0 var(--padding-7xl);
}
.frameParent {
  flex-direction: column;
  gap: var(--gap-base-6);
  flex-shrink: 0;
}
.frameParent,
.frameWrapper,
.mainParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xl);
  color: var(--color-gray-100);
}
.mainParent {
  flex-direction: column;
  gap: var(--gap-3xl);
}
.frameItem {
  height: 33px;
  width: 200px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslateblue-100);
  display: none;
}
.frameInner {
  height: 21.2px;
  width: 20px;
  position: relative;
  min-height: 21px;
  z-index: 1;
}
.storesIntegration {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslateblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-4) var(--padding-3xs) var(--padding-7xs-4);
  gap: var(--gap-mini);
  white-space: nowrap;
  z-index: 1;
  color: var(--color-white);
}
.ellipseDiv {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 1;
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.sellerAccount {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.frameParent2,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent2 {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameWrapper1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-10xl) 0 var(--padding-17xl);
}
.frameChild1 {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslateblue-100);
  z-index: 1;
}
.ellipseContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.vendorAccount {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.frameParent3,
.frameWrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent3 {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameWrapper2 {
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
  color: var(--color-darkslateblue-100);
}
.frameChild2 {
  width: 8px;
  height: 8.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 1;
}
.ellipseFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.defaultSettings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.frameParent4,
.frameWrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent4 {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameWrapper3 {
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
}
.frameDiv,
.frameParent1 {
  display: flex;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-2xs-7);
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) var(--padding-40xl-5);
  color: var(--color-gray-100);
}
.lineDiv {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-gainsboro-200);
  box-sizing: border-box;
  z-index: 1;
}
.rectangleParent {
  width: 300px;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-11xl) var(--padding-615xl)
    var(--padding-13xl);
  gap: var(--gap-7xl-6);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1000px) {
  .rectangleParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-393xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .rectangleParent {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .rectangleParent {
    padding-bottom: var(--padding-249xl);
    box-sizing: border-box;
  }
}
.salesChartBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
}
.circle,
.mostSellingProducts {
  position: relative;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
}
.salesNavigationIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.sales {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.salesNavigationIconsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frameChild {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.purchase {
  position: relative;
  display: inline-block;
  min-width: 62px;
}
.frameGroup {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frameGroup,
.frameParent,
.salesNavigation {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.salesNavigation {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.salesFilterBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-400);
}
.salesData {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.vectorIcon {
  width: 10px;
  height: 5px;
  position: relative;
}
.salesDataParent,
.salesFilterIcon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.salesFilterIcon {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.salesDataParent {
  flex-direction: row;
  gap: var(--gap-3xs);
  z-index: 1;
}
.salesFilterBackgroundParent {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-3xs) var(--padding-11xs);
  position: relative;
  font-size: var(--font-size-xs);
}
.salesChartContainer,
.salesChartData,
.salesFilterBackgroundParent {
  display: flex;
  justify-content: flex-start;
}
.salesChartContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xl);
}
.salesChartData {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 170px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.mostSellingProductsParent,
.salesChartBackgroundParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mostSellingProductsParent {
  gap: var(--gap-59xl);
  z-index: 1;
}
.salesChartBackgroundParent {
  padding: var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  min-width: 399px;
  min-height: 424px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 700px) {
  .mostSellingProductsParent {
    flex-wrap: wrap;
    gap: var(--gap-20xl);
  }
  .salesChartBackgroundParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .mostSellingProducts {
    font-size: var(--font-size-base);
  }
  .mostSellingProductsParent {
    gap: var(--gap-lgi);
  }
}
