@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(0, 0, 0, 0.75);
  --color-gray-200: rgba(0, 0, 0, 0.65);
  --color-gray-300: rgba(255, 255, 255, 0.25);
  --color-gray-400: rgba(0, 0, 0, 0.25);
  --color-black: #000;
  --color-darkslateblue-100: #002d62;
  --color-darkslateblue-200: rgba(0, 45, 98, 0.65);
  --color-steelblue-100: #336194;
  --color-steelblue-200: rgba(51, 97, 148, 0.65);
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #e0e0e0;
  --color-gainsboro-300: rgba(230, 230, 230, 0.25);
  --color-darkslategray: #3b3a3a;

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-3xs-5: 9.5px;
  --gap-2xs-5: 10.5px;
  --gap-base: 16px;
  --gap-6xl: 25px;
  --gap-7xl-6: 26.6px;
  --gap-2xs-7: 10.7px;
  --gap-3xl: 22px;
  --gap-base-6: 16.6px;
  --gap-8xl: 27px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-51xl: 70px;
  --padding-smi: 13px;
  --padding-25xl: 44px;
  --padding-7xl: 26px;
  --padding-26xl: 45px;
  --padding-32xl: 51px;
  --padding-33xl: 52px;
  --padding-9xl: 28px;
  --padding-22xl: 41px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-14xl: 33px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;
  --padding-20xl: 39px;
  --padding-38xl: 57px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-615xl: 634px;
  --padding-13xl: 32px;
  --padding-249xl: 268px;
  --padding-393xl: 412px;
  --padding-lg: 18px;
  --padding-40xl-5: 59.5px;
  --padding-mid: 17px;
  --padding-7xs-5: 5.5px;
  --padding-10xl: 29px;
  --padding-17xl: 36px;
  --padding-6xs-4: 6.4px;
  --padding-7xs-4: 5.4px;
  --padding-6xs-6: 6.6px;
  --padding-xs: 12px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-31xl: 50px;
}
