@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(0, 0, 0, 0.75);
  --color-gray-200: rgba(0, 0, 0, 0.65);
  --color-gray-300: rgba(255, 255, 255, 0.25);
  --color-gray-400: rgba(0, 0, 0, 0.25);
  --color-black: #000;
  --color-darkslateblue-100: #002d62;
  --color-darkslateblue-200: rgba(0, 45, 98, 0.65);
  --color-steelblue-100: #336194;
  --color-steelblue-200: rgba(51, 97, 148, 0.65);
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #e0e0e0;
  --color-gainsboro-300: rgba(230, 230, 230, 0.25);
  --color-darkslategray: #3b3a3a;

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-3xs-5: 9.5px;
  --gap-2xs-5: 10.5px;
  --gap-base: 16px;
  --gap-6xl: 25px;
  --gap-7xl-6: 26.6px;
  --gap-2xs-7: 10.7px;
  --gap-3xl: 22px;
  --gap-base-6: 16.6px;
  --gap-8xl: 27px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-51xl: 70px;
  --padding-smi: 13px;
  --padding-25xl: 44px;
  --padding-7xl: 26px;
  --padding-26xl: 45px;
  --padding-32xl: 51px;
  --padding-33xl: 52px;
  --padding-9xl: 28px;
  --padding-22xl: 41px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-14xl: 33px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;
  --padding-20xl: 39px;
  --padding-38xl: 57px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-615xl: 634px;
  --padding-13xl: 32px;
  --padding-249xl: 268px;
  --padding-393xl: 412px;
  --padding-lg: 18px;
  --padding-40xl-5: 59.5px;
  --padding-mid: 17px;
  --padding-7xs-5: 5.5px;
  --padding-10xl: 29px;
  --padding-17xl: 36px;
  --padding-6xs-4: 6.4px;
  --padding-7xs-4: 5.4px;
  --padding-6xs-6: 6.6px;
  --padding-xs: 12px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-31xl: 50px;
}
@import url("https://fonts.googleapis.com/css2?family=Eras+Medium+ITC:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-eras-medium-itc: "Eras Medium ITC";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-smi: 13px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.25);
  --color-gray-200: rgba(0, 0, 0, 0.65);
  --color-gray-300: rgba(0, 0, 0, 0.25);
  --color-gray-400: rgba(0, 0, 0, 0.1);
  --color-gray-500: rgba(0, 0, 0, 0.75);
  --color-black: #000;
  --color-darkslateblue: #002d62;
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #e0e0e0;
  --color-darkslategray: #3b3a3a;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-2xl: 21px;
  --gap-4xl: 23px;
  --gap-4xs: 9px;
  --gap-lg: 18px;
  --gap-67xl-1: 86.1px;
  --gap-14xl: 33px;
  --gap-mid-3: 17.3px;
  --gap-2xs-2: 10.2px;
  --gap-base-5: 16.5px;
  --gap-xs-1: 11.1px;
  --gap-22xl: 41px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-30xl-5: 49.5px;
  --gap-6xl: 25px;
  --gap-56xl: 75px;
  --gap-smi-7: 12.7px;
  --gap-7xl-6: 26.6px;
  --gap-2xs-7: 10.7px;
  --gap-3xl: 22px;
  --gap-base-6: 16.6px;
  --gap-8xl: 27px;
  --gap-70xl: 89px;
  --gap-61xl: 80px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-4xl: 23px;
  --padding-21xl: 40px;
  --padding-32xl: 51px;
  --padding-2xl: 21px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-7xl: 26px;
  --padding-lgi: 19px;
  --padding-16xl: 35px;
  --padding-40xl: 59px;
  --padding-41xl: 60px;
  --padding-15xl: 34px;
  --padding-2xs: 11px;
  --padding-51xl: 70px;
  --padding-52xl: 71px;
  --padding-xs: 12px;
  --padding-7xs: 6px;
  --padding-3xl: 22px;
  --padding-13xl: 32px;
  --padding-67xl-1: 86.1px;
  --padding-37xl: 56px;
  --padding-135xl-5: 154.5px;
  --padding-81xl: 100px;
  --padding-7xs-5: 5.5px;
  --padding-lg: 18px;
  --padding-6xs-6: 6.6px;
  --padding-mini: 15px;
  --padding-321xl: 340px;
  --padding-325xl: 344px;
  --padding-202xl: 221px;
  --padding-205xl: 224px;
  --padding-125xl: 144px;
  --padding-127xl: 146px;
  --padding-56xl: 75px;
  --padding-50xl: 69px;
  --padding-base: 16px;
  --padding-35xl: 54px;
  --padding-36xl: 55px;
  --padding-397xl: 416px;
  --padding-10xl: 29px;
  --padding-5xl-6: 24.6px;
  --padding-59xl: 78px;
  --padding-44xl: 63px;
  --padding-6xl: 25px;
  --padding-31xl-5: 50.5px;
  --padding-43xl: 62px;
  --padding-615xl: 634px;
  --padding-40xl-5: 59.5px;
  --padding-17xl: 36px;
  --padding-6xs-4: 6.4px;
  --padding-7xs-4: 5.4px;
  --padding-9xl: 28px;
  --padding-22xl: 41px;
  --padding-4xs: 9px;
  --padding-31xl: 50px;
  --padding-29xl: 48px;
  --padding-23xl: 42px;
  --padding-20xl: 39px;
  --padding-lgi-5: 19.5px;
  --padding-149xl: 168px;
  --padding-390xl: 409px;
  --padding-393xl: 412px;
  --padding-249xl: 268px;
  --padding-54xl: 73px;
  --padding-39xl: 58px;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-31xl: 50px;
}
